@model UserViewModel

<ul class="letters">
	<li class="box__link"><a href="javascript:;">A</a></li>
	<li class="box__link"><a href="javascript:;">B</a></li>
	<li class="box__link"><a href="javascript:;">V</a></li>
	<li class="box__link"><a href="javascript:;">G</a></li>
	<li class="box__link"><a href="javascript:;">D</a></li>
	<li class="box__link"><a href="javascript:;">DJ</a></li>
	<li class="box__link"><a href="javascript:;">E</a></li>
	<li class="box__link"><a href="javascript:;">Z</a></li>
	<li class="box__link"><a href="javascript:;">I</a></li>
	<li class="box__link"><a href="javascript:;">J</a></li>
	<li class="box__link"><a href="javascript:;">K</a></li>
	<li class="box__link"><a href="javascript:;">L</a></li>
	<li class="box__link"><a href="javascript:;">LJ</a></li>
	<li class="box__link"><a href="javascript:;">M</a></li>
	<li class="box__link"><a href="javascript:;">N</a></li>
	<li class="box__link"><a href="javascript:;">NJ</a></li>
	<li class="box__link"><a href="javascript:;">O</a></li>
	<li class="box__link"><a href="javascript:;">P</a></li>
	<li class="box__link"><a href="javascript:;">R</a></li>
	<li class="box__link"><a href="javascript:;">S</a></li>
	<li class="box__link"><a href="javascript:;">T</a></li>
	<li class="box__link"><a href="javascript:;">C</a></li>
	<li class="box__link"><a href="javascript:;">U</a></li>
	<li class="box__link"><a href="javascript:;">F</a></li>
	<li class="box__link"><a href="javascript:;">H</a></li>
	<li class="box__link"><a href="javascript:;">C</a></li>
	<li class="box__link"><a href="javascript:;">C</a></li>
	<li class="box__link"><a href="javascript:;">DZ</a></li>
	<li class="box__link"><a href="javascript:;">S</a></li>
	<li class="box__link letters__search"><input type="text" /><button type="submit"><i class="font-ico-search"></i></button></li>
</ul>
<div class="table">
	<div class="tr th">
		<div class="td" style="flex-grow: 3;">Puno ime</div>
		<div class="td" style="flex-grow: 2;">Kompanija</div>
		<div class="td" style="flex-grow: 3;">Email</div>
		<div class="td" style="flex-grow: 2;">Resetuj sifru</div>
		<div class="td">Aktivnost</div>
		<div class="td">Operacije</div>
	</div>
		@if (Model.Users.Items.HasValue())
		{
			foreach (var user in Model.Users.Items)
			{
				Html.RenderPartial("_UserDetails", user);
			}
		}
</div>
<ul class="pagination">
	<li class="box__link page__item">
		<a href="javascript">1</a>
	</li>
	<li class="box__link page__item">
		<a href="javascript">2</a>
	</li>
	<li class="box__link page__item">
		<a href="javascript">3</a>
	</li>
	<li class="box__link page__item">
		<a href="javascript">4</a>
	</li>
	<li class="box__link page__item">
		<a href="javascript">5</a>
	</li>
</ul>