@model UserViewModel

@{
    Html.RenderPartial("_Filtering", Model.Filter);
}

<div class="table">
    <div class="tr th">
        <div class="td" style="flex-grow: 3;">Puno ime</div>
        <div class="td" style="flex-grow: 2;">Kompanija</div>
        <div class="td" style="flex-grow: 3;">Email</div>
        <div class="td" style="flex-grow: 2;">Resetuj sifru</div>
        <div class="td">Aktivnost</div>
        <div class="td">Operacije</div>
    </div>
    @if (Model.Users.Items.HasValue())
    {
        Html.RenderPartial("_UserDetails", new UserDetailsRenderModel() { CompanyList = Model.Users.CompanyList });
        foreach (var user in Model.Users.Items)
        {
            Html.RenderPartial("_UserDetails", user);
        }
    }
</div>
@{
    Html.RenderPartial("_Pagination", Model.Users.Pagination);
}

@section additionalFooter{
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/scripts/forms")
}