@model ForgotPasswordViewModel

@{
	Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="login">
	<div class="login__box">
		<a href="@Url.Action("Index", "Login")">
			<img src="~/assets/images/logo.png" alt="" class="login__logo">
		</a>
		@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "login__form" }))
		{
			@Html.AntiForgeryToken()

			<ul class="login__list">
				<li class="login__item">
					@Html.TextBoxFor(x => x.Email, new { placeholder = Model.DisplayName(x => x.Email) })
					@Html.ValidationMessageFor(x => x.Email)
				</li>
			</ul>
			<button type="submit" class="login__btn btn">Resetuj lozinku</button>
		}
	</div>
</div>



