@model ForgotPasswordViewModel

@{
	Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="login">
	<div class="login__box">
		<a href="/">
			<img src="~/assets/images/logo.png" alt="" class="login__logo">
		</a>
		@using (Html.BeginForm("ForgotPassword", "Authorization", FormMethod.Post, new { @class = "login__form" }))
		{
			@Html.AntiForgeryToken()

			<ul class="login__list">
				<li class="login__item">
					@Html.TextBoxFor(x => x.Email, new { placeholder = Model.DisplayName(x => x.Email) })
					@Html.ValidationMessageFor(x => x.Email)
				</li>
				@if (TempData[Constants.RESPONSE_MESSAGE] != null)
				{
					<li class="login__item">
						<p>@TempData[Constants.RESPONSE_MESSAGE]</p>
					</li>
				}
			</ul>
			<button type="submit" class="login__btn btn">Resetuj lozinku</button>
		}
	</div>
</div>



