@model ReportAProblemModelViewModel

<div class="content__section centered">
    <p>U zivotu nista nije savrseno, ako ste naisli na problem tokom koriscenja aplikacije, uocili resenje ili mesto za unapredjenje aplikacije molimo vas da iskoristite formu koja se nalazi ispod ovog teksta.</p>
    @{ Html.RenderPartial("_ReportAProblemForm", new ReportAProblemModelSubmitViewModel()); }
</div>

@section additionalFooter{
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/scripts/forms")
}