@model OrderDetailsRenderModel

@if (Model.HasValue())
{
    <div class="tr">
        <div class="td accordion" data-accordion>Izaberi jelo</div>
        <div class="td" style="flex-grow: 2;">
				@Html.DropDownListFor(x => x.CategoryId, Model.CategoryList, "Izaberite kategoriju")
        </div>
		<div class="td" style="flex-grow:3; justify-content: center;">
			@Html.DropDownListFor(x => x.MealId, Model.MealList, "Izaberite obrok")
		</div>
        <div class="td" style="flex-grow: 2;justify-content: center;">
            <select>
                <option value="" selected disabled hidden>Izaberi velicinu porcije</option>
                <option value="1">Mala</option>
                <option value="2">Velika</option>
            </select>
        </div>
        <div class="td" style="flex-grow:3;justify-content: center;">
            @Html.TextBoxFor(x => x.Comment, new { placeholder = Model.DisplayName(x => x.Comment) })
        </div>
        <div class="td" style="justify-content: center;">
            <select>
                <option value="1">1 kom.</option>
                <option value="2">2 kom.</option>
                <option value="3">3 kom.</option>
            </select>
        </div>
        <div class="td" style="justify-content: center;">
            <input type="text" class="time-picker" />
        </div>
        <div class="td" style="justify-content: center;">
            <input type="text" disabled />
        </div>
        <div class="td" style="justify-content: center;">
            <div class="order__table-operations">
                <button type="submit" class="save font-ico-save"></button>
                <button type="submit" class="delete font-ico-delete"></button>
            </div>
        </div>
    </div>
}