@model  PaginationRenderModel

@if (Model != null && Model.TotalPages != 1)
{
<ul class="pagination">
	@for (int i = 1; i <= Model.TotalPages; i++)
	{
		<li class="box__link page__item @(Model.CurrentPage == i ? "active" : String.Empty)">
			<a href="javascript:;" @(Model.CurrentPage == i ? $"data-page-active={i}" : $"data-page={i}")>@i</a>
		</li>
	}
</ul>
}

