@using TimeshEAT.Web.Models.Render.Company
@model CompanyViewModel

@{
    Html.RenderPartial("_Filtering", Model.Filter);
}

<div class="accordion__table">
    @if (Model.Companies.Items.HasValue())
    {
        Html.RenderPartial("_CompanyDetails", new CompanyDetailsRenderModel {MealList = Model.Companies.MealList});
        foreach (var company in Model.Companies.Items)
        {
            Html.RenderPartial("_CompanyDetails", company);
        }
    }
</div>

@{
    Html.RenderPartial("_Pagination", Model.Companies.Pagination);
}
