@using TimeshEAT.Web.Models.Render.Company
@model CompanyViewModel

@{
    Html.RenderPartial("_Filtering", Model.Filter);
}

<div class="accordion__table">
    @{
        Html.RenderPartial("_CompanyDetails", new CompanyDetailsRenderModel { MealList = Model.Companies.MealList });
        if (Model.Companies.Items.HasValue())
        {
            foreach (var company in Model.Companies.Items)
            {
                Html.RenderPartial("_CompanyDetails", company);
            }
        }
    }
</div>

@{
    Html.RenderPartial("_Pagination", Model.Companies.Pagination);
}

@section additionalFooter{
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/scripts/forms")
}