  <connectionStrings>
      <add name="TimesheatDBConnection" connectionString="Server=tcp:startupweekzr.database.windows.net,1433;Initial Catalog=TimesheatDB;Persist Security Info=False;User ID=timesheatuser;Password=CTfHCXVxL2mWy5Gf;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>